
<form>
    <div class="row">

        
    <div class="col-md-4">    
    <div class="hand" id="flop">
   <label for="flop_suit_1" class="col-form-label">Flop</label>
    <div class="card-one">
    <div class="form-row">
    <div class="col">
    <select class="form-control form-control-sm" id="flop_suit_1" name="suit1">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
    </div>
    
    <div class="col">
    <select class="form-control form-control-sm" id="flop_number_1" name="number1">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
    </div>
    </div>
    </div>

    <div class="card-two">
    <div class="form-row">
    <div class="col">
    <select class="form-control form-control-sm" id="flop_suit_2" name="suit2">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
    </div>
    
    <div class="col">
    <select class="form-control form-control-sm" id="flop_number_2" name="number2">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
    </div>
    </div>
    </div>
        
    <div class="card-three">
    <div class="form-row">
    <div class="col">
    <select class="form-control form-control-sm" id="flop_suit_3" name="suit3">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
    </div>
    
    <div class="col">
    <select class="form-control form-control-sm" id="flop_number_3" name="number3">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
    </div>
    </div>
    </div>
        
    </div>
    </div>
    
     <div class="col-md-4">    
    <div class="hand" id="turn">
   <label for="turn_suit_1" class="col-form-label">Turn</label>
    <div class="card-one">
    <div class="form-row">
    <div class="col">
    <select class="form-control form-control-sm" id="turn_suit_1" name="suit1">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
    </div>
    
    <div class="col">
    <select class="form-control form-control-sm" id="turn_number_1" name="number1">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
    </div>
    </div>
    </div>
        
    </div>
    </div>
        
     <div class="col-md-4">    
    <div class="hand" id="river">
   <label for="river_suit_1" class="col-form-label">River</label>
    <div class="card-one">
    <div class="form-row">
    <div class="col">
    <select class="form-control form-control-sm" id="river_suit_1" name="suit1">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
    </div>
    
    <div class="col">
    <select class="form-control form-control-sm" id="river_number_1" name="number1">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
    </div>
    </div>
    </div>
        
    </div>
    </div>
        
</div>

</form>

<!--

<div class="hand" id="flop">
<label for="flop_suit_1" class="col-form-label">Flop</label>
<div class="card-one">
<div class="form-row">
<div class="col">

    <select class="form-control form-control-sm" id="flop_suit_1" name="suit1">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
</div>
<div class="col">
    <select class="form-control form-control-sm" id="flop_number_1" name="number1">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
</div>
</div>
</div>

<div class="card-two">
<div class="form-row">
<div class="col">
    <select class="form-control form-control-sm" id="flop_suit_2" name="suit2">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
</div>
<div class="col">
    <select class="form-control form-control-sm" id="flop_number_2" name="number2">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
</div>
</div>
</div>

<div class="card-three">
<div class="form-row">
<div class="col">
    <select class="form-control form-control-sm" id="flop_suit_3" name="suit3">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
</div>
<div class="col">
    <select class="form-control form-control-sm" id="flop_number_3" name="number3">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
</div>
</div>
</div>
</div>



<div class="hand" id="turn">
<label for="turn_suit_1" class="col-form-label">Turn</label>
<div class="card-one">
<div class="form-row">
<div class="col">

    <select class="form-control form-control-sm" id="turn_suit_1" name="suit1">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
</div>
<div class="col">
    <select class="form-control form-control-sm" id="turn_number_1" name="number1">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
</div>
</div>
</div>
</div>


<div class="hand" id="river">
<label for="turn_suit_1" class="col-form-label">River</label>
<div class="card-one">
<div class="form-row">
<div class="col">

    <select class="form-control form-control-sm" id="river_suit_1" name="suit1">
      <option value="" selected="selected">Suit</option>
      <option value="C">Clubs</option>
      <option value="D">Diamonds</option>
      <option value="H">Hearts</option>
      <option value="S">Spades</option>
    </select>
</div>
<div class="col">
    <select class="form-control form-control-sm" id="river_number_1" name="number1">
        <option value="" selected="selected">Number</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">Jack</option>
        <option value="12">Queen</option>
        <option value="13">King</option>
        <option value="14">Ace</option>
    </select>
</div>
</div>
</div>
</div>
</form>-->