{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Montecarlo Holdem</title>
  </head>
  <body>
	<div class="col-x-12 overlay">
		<div class="loader"></div>
	</div>
    <main role="main" class="container">

      <div class="starter-template">
        <h1>Montecarlo Poker Simulator</h1>
        <p class="lead">Set the hands below (or set none at all!) to run a <i>montecarlo simulation</i> 
          (i.e., play many games to impute the probabilities) of Texas Holdem.</p>
      </div>
    
    <div class="row">
    <div class="col-md-3">
        {% include "play/submit-form.html" %}      
    </div>   

    <div class="col-md-9"> 

        {% include "play/community-form.html" %} 
<br>
    <div class="row">
        
    <div class="results p-3 mb-2 bg-secondary text-white" style="visibility:hidden">
        <p>Ran <span class="run-count"></span> simulations between <span class="player-count"></span> players with the following cards:</p>
        <span class='hands'></span>
    </div>
    </div>
        
    <div class="row">
    <canvas id="winChart" height="80"></canvas>
    </div>
    
    <div class="row">
    <canvas id="handChart"></canvas>
    </div>
    </div>
    </div>
    </main><!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> 
    <script src="{% static "play/js/submit-form.js" %}"></script>
    <script src="{% static "play/js/hand-chart.js" %}"></script>
    <script src="{% static "play/js/win-chart.js" %}"></script>
    <script src="{% static "play/js/form-validation.js" %}"></script>
    <!-- Loader CSS -->  
	<link rel="stylesheet" type="text/css" href="{% static "play/css/loader.css" %}">
    
    
      
  </body>
</html>