
<form id="pokerForm" method="post" action="results/" class="needs-validation" novalidate>

    <div class="form-group">
        <button type="submit" class="btn btn-info btn-lg" id="run">Run</button>
    </div>
    
    <div class="form-group">
        <label for="id_runs" class="col-form-label">Simulations</label>
        <input type="text" name="runs" class="form-control form-control-sm" aria-expanded="false" required id="id_runs" value="1000">
    </div>

<!-- User -->
    <div class="hand">
    <div class="form-group">
        <label for="id_user_suit_1" class="col-form-label">Your hand</label>
        <select class="form-control form-control-sm" id="id_user_suit_1" name="suit1">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_user_number_1" name="number1">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>

        <select class="form-control form-control-sm" id="id_user_suit_2" name="suit2">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_user_number_2" name="number2">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>
    </div>
    </div>

    
<!-- Other1 -->
    <div class="hand">
    <div class="form-group">
        <label for="id_other1_suit_1" class="col-form-label">Your hand</label>
        <select class="form-control form-control-sm" id="id_other1_suit_1" name="suit1">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other1_number_1" name="number1">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>

        <select class="form-control form-control-sm" id="id_other1_suit_2" name="suit2">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other1_number_2" name="number2">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>
    </div>
    </div>
    
<!-- Other2 -->

    <div class="hand">
    <div class="form-group">
        <label for="id_other2_suit_1" class="col-form-label">Your hand</label>
        <select class="form-control form-control-sm" id="id_other2_suit_1" name="suit1">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other2_number_1" name="number1">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>

        <select class="form-control form-control-sm" id="id_other2_suit_2" name="suit2">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other2_number_2" name="number2">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>
    </div>
    </div>

 
<!-- Other3 -->
    <div class="hand">
    <div class="form-group">
        <label for="id_other3_suit_1" class="col-form-label">Your hand</label>
        <select class="form-control form-control-sm" id="id_other3_suit_1" name="suit1">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other3_number_1" name="number1">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>

        <select class="form-control form-control-sm" id="id_other3_suit_2" name="suit2">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other3_number_2" name="number2">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>
    </div>
    </div>
    
<!-- Other4 -->
    <div class="hand">
    <div class="form-group">
        <label for="id_other4_suit_1" class="col-form-label">Your hand</label>
        <select class="form-control form-control-sm" id="id_other4_suit_1" name="suit1">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other4_number_1" name="number1">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>

        <select class="form-control form-control-sm" id="id_other4_suit_2" name="suit2">
          <option value="" selected="selected">--</option>
          <option value="C">Clubs</option>
          <option value="D">Diamonds</option>
          <option value="H">Hearts</option>
          <option value="S">Spades</option>
        </select>

        <select class="form-control form-control-sm" id="id_other4_number_2" name="number2">
            <option value="" selected="selected">--</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Jack</option>
            <option value="12">Queen</option>
            <option value="13">King</option>
            <option value="14">Ace</option>
        </select>
    </div>
    </div>
</form>
